Checks: >
  - readability-identifier-naming

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: UpperCamelCase

  - key: readability-identifier-naming.StructCase
    value: UpperCamelCase

  - key: readability-identifier-naming.EnumCase
    value: UpperCamelCase

  - key: readability-identifier-naming.EnumConstantCase
    value: UpperCamelCase

  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase

  - key: readability-identifier-naming.FileCase
    value: lower_case
